#home-root {
    height: 100%;
    font-size: 115%;
}

#page-content {
    background-color: rgb(240,240,240);
    height: 100%
}

.home-img {
    transform: scale(1.5);
}

#logo {
    padding-right: 20px;
 
}

#nav-info {
    float: right 
}

