


/* main color */



img {
  transform: scale(0.5);
  padding-left: 30px;
}


#tw {
  transform: scale(0.7) translateY(12px);
}

#gt {
  transform: translateY(20px);
}

#yt {
  transform: scale(1.5);
}