nav {
    height: 100%;
}

.nav-item {
    padding-left: 15px;
}

#side-bar {
    border-top: 1px solid grey;
    background-color: blueviolet;
    display: block;
    
}

#side-div {
    width: 100%;
    display: block;
}

nav li svg {
    padding-right: 12px;
    transform: scale(2.1)
}


a {
      text-decoration: none !important;
}